html {
    background-color: #000;
}

/**
 * Site header
 */
.site-header {
    background-color: #fff;

    img {
        width: 213.5px; // 1/4th the size of the actual image
        vertical-align: top;
        @include media-query($on-palm) {
            margin-left: 0; // Remove the padding so the Pangea portion of the image
                            // to make it flush with the left padding of the main content.
        }
    }
}

.site-title {
    margin-bottom: 0;
    text-align: center;

    span {
        font-size: 26px;
        font-weight: 300;
        line-height: 56px;
        display: inline-block;
        margin-top: 12px;
    }

    &:hover {
        text-decoration: none;
    }

    @media screen and (min-width: 600px) {
        float: left;

        span {
            line-height: 0;
            float: right;
            margin: 40px 0 0 5px;
        }
    }

    @media screen and (max-width: 380px) {
        span {
            line-height: 0;
            margin-top: 0;
        }
    }
}

nav {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;

    ul {
        margin: 0;
    }

    li {
        display: inline-flex;
        padding: 0 5px;
    }

    @media screen and (min-width: 600px) {
        float: right;
    }
}


footer {
    background-color: #000;
    text-align: center;
    padding: $spacing-unit 0;
    
    .social {
        a {
            display: inline-block;
            padding: 0 20px 20px 20px
        }
    }
    
    .copyright {
        color: #fff;
        font-size: 75%;
    }

    a {
        color: #fff;

        &:visited {
            color: #fff;
        }

        &:hover {
            color: $brand-color;
        }
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header,
.content header {
    margin-bottom: $spacing-unit;
}

.post-title,
.content h1 {
    font-size: 42px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content,
.content-body {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
