.col-left {
    float: left;
    width: 70%;
}

.col-right {
    margin-left: 70%;
    font-size: 75%;

    @include media-query($on-palm) {
        clear: both;
        margin-left: 0;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.home {
    background-color: #fff;
    padding: 30px;
}

.post,
.content {
    background-color: #fff;
    padding: 30px;

    img {
        width: calc(100% + 60px);
        margin-left: calc(-30px);
        margin-right: calc(-30px);
        max-width: 200%;
    }
}

.page {
    background-color: #fff;
    padding: 30px;
}

.author-info {
    background-color: #fff;
    padding: 30px;   
    margin-top: 30px;
    font-size: 90%;

    .name {
        font-weight: bold;
    }

    .description {
        margin-top: 10px;
    }

    .photo {
        float: left;
        margin: 0 20px 20px 0;
        height: 72px;
        width: 72px;
    }
}


#our-stack .post-content {
     @media screen and (min-width: 800px) {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin: 0 30px;

                a {
                    font-size: 1.3em;
                }
            }

            em {
                display: block;
                font-style: normal;
            }
        }
    }
}

.job {
    .apply-now {
        font-size: 24px;
        background-color: #00abc7;
        color: #fff;
        display: inline-block;
        padding: 10px 20px;

        &:hover {
            background-color: #73D2E0;
        }
    }

    .back-to-openings {
        padding: 0 0 10px 0;
        display: inline-block;

        span {
            font-size: 20px;
        }
    }
}