---
top_nav:
  - text: Blog
    url: /
    prefix: /
  - text: Stack
    url: /stack
    prefix: /stack
  - text: Handbook
    url: /handbook/overview/index.html
    prefix: /handbook/
  - text: Join
    url: /join
    prefix: /join
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header class="site-header">
      <div class="wrapper">
        <div class="site-title">
            <a href="{{ site.baseurl }}/"><img src="/assets/engineering-logo-no-tm.png" /></a>
        </div>
        <nav>
          <ul>
          {% assign url = page.url | remove:'.html' %}
          {% for link in layout.top_nav %}
            {% if url == '/' and link.prefix == '/' %}
            <li class="current"> 
            {% elsif link.text == 'Blog' and url contains '/20' %}
            <li class="current">
            {% elsif link.prefix != '/' and url contains link.prefix %}
            <li class="current">
            {% else %}
            <li>
            {% endif %}
              <a href="{{link.url}}">{{link.text}}</a>
            </li>
          {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <div class="page-content">
      <div class="wrapper">
        <div id="{{ page.title }}">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script   src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script>
      $('h1,h2,h3,h4,h5,h6').filter('[id]').each(function () {
          $(this).wrapInner('<a class="ephemeral-anchor" href="#'+$(this).attr('id')+'"></a>');
          $('a', this).prepend('<i class="fa fa-link fa-1" aria-hidden="true"></i>');
      });
    </script>

    <script>
      if (document.location.hostname.search("start.gopangea.com") !== -1) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-35091502-3', 'auto');
        ga('send', 'pageview');
      }

    </script>

  </body>

</html>
