---
layout: two-col
title: Handbook
index-url: /handbook/overview/index
nav:
    - name: Overview
      items:
        - text: Purpose
          url: /handbook/overview/index
        - text: Oath
          url: /handbook/overview/oath
        - text: Teams
          url: /handbook/overview/teams
        - text: Progression
          url: /handbook/overview/progression
    - name: Process
      items:
        - text: How we do Agile
          url: /handbook/process/how-we-do-agile
        - text: The Sprint
          url: /handbook/process/the-sprint
        - text: Definiton of Done
          url: /handbook/process/definition-of-done
        - text: Deployment Steps
          url: /handbook/process/deployment-steps
        - text: Branching Strategy
          url: /handbook/process/branching-strategy
        - text: Copy Editing
          url: /handbook/process/copy-editing
        - text: Lunch and Learn
          url: /handbook/process/lunch-and-learn
    - name: Policies
      items:
        - text: On Call
          url: /handbook/policies/on-call
        - text: SLAs
          url: /handbook/policies/sla
        - text: Work from Home
          url: /handbook/policies/work-from-home
    - name: Interview
      items:
        - text: Process
          url: /handbook/interview/process
---
{{ content }}