---
layout: base
---
{% if page.image %}
  <img src="/assets/blog-post-headers/{{ page.image }}" />
{% endif %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %}
         by <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name"><a href="#author">{{ page.author }}</a></span>
            </span>
        {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<a id="author"></a>
{% if page.author %}
{% assign author = site.data.team | where: "name", page.author | first %}
<div class="author-info">
    <h3>Author</h3>
    {% if author.avatar %}
    <img class="photo" src="{{ author.avatar }}" />
    {% endif %}
    <span class="name">{{ author.name}}</span>
    {% if author.social.github %}
        - 
    {% endif %}
    {% if author.social.github %}
        <a href="{{ author.social.github }}"><i class="fa fa-github fa-lg">&nbsp;</i></a>
    {% endif %}
    {% if author.social.stackoverflow %}
        <a href="{{ author.social.stackoverflow }}"><i class="fa fa-stack-overflow fa-lg">&nbsp;</i></a>
    {% endif %}
    {% if author.social.linkedin %}
        <a href="{{ author.social.linkedin }}"><i class="fa fa-linkedin fa-lg">&nbsp;</i></a>
    {% endif %}
    {% if author.social.twitter %}
        <a href="{{ author.social.twitter }}"><i class="fa fa-twitter fa-lg">&nbsp;</i></a>
    {% endif %}

    <p class="description">{{ author.bio }}</p>
</div>
{% endif %}

{% if page.contributors %}
<div class="author-info">
    <h3>Contributors</h3>
    
    {% for name in page.contributors %}
    {% assign contributor = site.data.team | where: "name", name | first %}
    <div class="contributor">
        {% if contributor.avatar %}
        <img class="photo" src="{{ contributor.avatar }}" />
        {% endif %}
        <span class="name">{{ contributor.name}}</span>
        {% if contributor.social %}
            - 
        {% endif %}
        {% if contributor.social.github %}
            <a href="{{ contributor.social.github }}"><i class="fa fa-github fa-lg">&nbsp;</i></a>
        {% endif %}
        {% if contributor.social.stackoverflow %}
            <a href="{{ contributor.social.stackoverflow }}"><i class="fa fa-stack-overflow fa-lg">&nbsp;</i></a>
        {% endif %}
        {% if contributor.social.linkedin %}
            <a href="{{ contributor.social.linkedin }}"><i class="fa fa-linkedin fa-lg">&nbsp;</i></a>
        {% endif %}
        {% if contributor.social.twitter %}
            <a href="{{ contributor.social.twitter }}"><i class="fa fa-twitter fa-lg">&nbsp;</i></a>
        {% endif %}

        <p class="description">{{ contributor.bio }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}


